.justify-content-around {
  justify-content: space-around !important;
}
.navbar-collapse{
margin: 0 14px;

}
.logoFatec,
.qrCodeMec {
  height: 80px;
}
.logoCps {
  height: 60px;
}
.logoFatec {
  width: 134.23;
}
.qrCodeMec {
  width: 158.77;
}

.dropdown-toggle::after {
  display: none !important;
}
.nav-item {
  margin: 0 10px;
}

#responsive-navbar-nav {
  text-align: center;
}

.container-spacing {
  padding-left: 16px;
  padding-right: 16px;
}
.link-footer {
  text-decoration: none;
  color: white;
}

/* Adapte conforme necessário para atender ao seu design */


@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container-spacing {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .container,
  .container-sm {
    max-width: 540px;
  }
}


